<ul style="padding-left: 15px; list-style-type: disc; font-size: 12px;">
  {{#each (getKeys this) as |key|}}
    <li>
      <strong>{{formatKey key}}:</strong>
      {{#with (lookup ../this key) as |value|}}

        {{!-- Primitive --}}
        {{#if (isPrimitive value)}}
          {{value}}

        {{!-- Array of Primitives --}}
        {{else if (isArray value)}}
          {{join value}}

        {{!-- Array of Objects (Recursive Cards) --}}
        {{else if (isArrayOfObjects value)}}
          <ul style="list-style-type: none; padding-left: 0;">
            {{#each value as |arrItem|}}
              <li style="border: 1px solid #ccc; margin: 5px 0; padding: 5px;">
                {{> objectPartial arrItem}}
              </li>
            {{/each}}
          </ul>

        {{!-- Nested Object --}}
        {{else if (isObject value)}}
          {{> objectPartial value}}

        {{!-- Fallback --}}
        {{else}}
          {{displayAny value}}
        {{/if}}

      {{/with}}
    </li>
  {{/each}}
</ul>
